<style><!--
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
//-->
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
	{{ site.title }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	{% assign pages_list = site.pages | sort: 'order'%}
	{% for node in pages_list %}
	{% if node.group == 'navigation' %}
      	{% if page.url == node.url %}
      	<li class="nav-item"><a href="{{ BASE_PATH }}{{node.url}}" class="nav-link active">{{node.title}}</a></li>
      	{% else %}
      	<li class="nav-item"><a href="{{ BASE_PATH }}{{node.url}}" class="nav-link">{{node.title}}</a></li>
      	{% endif %}
	{% endif %}
	{% endfor %}
	{% assign pages_list = nil %}
	{% assign group = nil %}
      </ul>
      <ul class="navbar-nav">
	<li class="nav-item"><a class="nav-link" href="https://coderdojo-suginami.doorkeeper.jp/contact/new">✉️</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
