<style><!--
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
//-->
</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
	<img src="/images/CDRoundelWithLongText-LtBg.png" alt="CoderDojo" />
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	{% assign pages_list = site.pages | sort: 'order'%}
	{% for node in pages_list %}
	{% if node.group == 'navigation' %}
      	{% if page.url == node.url %}
      	<li role="presentation" class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
      	{% else %}
      	<li role="presentation"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
      	{% endif %}
	{% endif %}
	{% endfor %}
	{% assign pages_list = nil %}
	{% assign group = nil %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<li><a href="https://coderdojo-suginami.doorkeeper.jp/contact/new"><span class="glyphicon glyphicon-envelope" /></a></li>
</ul>
</div><!--/.navbar-collapse -->
</div>
</nav>
