<h3 style="color:#fff;">スポンサーの紹介</h3>
<div class="row text-center">
<div class="col-md-4 mb-3">
<div class="card bg-primary text-white">
<div class="card-body text-center">
<a href="http://www.val.co.jp/" class="text-white">株式会社ヴァル研究所</a>
</div>
</div>
</div>
<div class="col-md-4 mb-3">
<div class="card bg-primary text-white">
<div class="card-body text-center">
<a href="http://www.waicrew.com/" class="text-white">ワイクル株式会社</a>
</div>
</div>
</div>
<div class="col-md-4 mb-3">
<div class="card bg-primary text-white">
<div class="card-body text-center">
<a href="/sponsorship/" class="text-white">【募集中】</a>
</div>
</div>
</div>
</div>

